﻿html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.container-fluid .nav-content {
    background-color: #0066cc;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav-content:hover {
    background-color: #004d99;
}

.btn-secondary:hover {
    background-color: #004d99 !important;
    color: white !important;
}
/*.dropdown:hover {
    background-color: #004d99;
    border: none;
}*/
.navbar-text mr-2 {
    color: white;
    font-size: 10px;
}
.dropdown-menu {
    background-color : #0066cc
}
.dropdown-item {
    color: white;
}
.btn-custom-secondary {
    background-color: gray;
    color: white;
}


.form-check-input:checked {
    background-color: #28bd43; /* Màu nền khi checkbox được chọn */
    border-color: #43c84e; /* Màu viền khi checkbox được chọn */
}

.form-check-input:checked + .form-check-label {
    color: #ae842e; /* Màu chữ của nhãn khi checkbox được chọn */
}
