﻿@model DOANCOSO.Models.KhachHang;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "ADD CUSTOMER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thêm Khách Hàng</h2>

<form asp-controller="Customer" asp-action="AddCustomer" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TenKhachHang">Tên Khách</label>
        <input asp-for="TenKhachHang" class="form-control" id="form-control" />
        <span asp-validation-for="TenKhachHang" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoDienThoai">Số Điện Thoại</label>
        <input asp-for="SoDienThoai" class="form-control" id="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi">Địa Chỉ</label>
        <input asp-for="DiaChi" class="form-control" id="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaLoaiKhachHang">Nhóm Khách Hàng</label>
        <select asp-for="MaLoaiKhachHang" class="form-control" asp-items="@(ViewBag.TypeCustomer as SelectList)"></select>
        <span asp-validation-for="MaLoaiKhachHang" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>