﻿@model DOANCOSO.Models.KhachHang

@{
    ViewBag.Title = "Chỉnh sửa khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa khách hàng</h2>

<form asp-action="EditCustomer">
    <div class="form-group">
        <label asp-for="TenKhachHang" class="control-label"></label>
        <input asp-for="TenKhachHang" class="form-control" />
        <span asp-validation-for="TenKhachHang" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoDienThoai" class="control-label"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi" class="control-label"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaLoaiKhachHang" class="control-label"></label>
        <select asp-for="MaLoaiKhachHang" class="form-control" asp-items="ViewBag.TypeCustomer"></select>
        <span asp-validation-for="MaLoaiKhachHang" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="MaKhachHang" />
        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
