﻿@model IEnumerable<DOANCOSO.Models.KhachHang>

@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khách Hàng</h2>

<a class="nav-link text-dark btn btn-primary" asp-controller="Customer" asp-action="AddCustomer">Thêm Khách Hàng</a>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="background-color: #04B440;color: white;font-size: 13px;" data-bs-toggle="modal" data-bs-target="#AddTypeCustomer">
    Nhóm Khách
</button>
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Tên Khách</th>
            <th>Số Điện Thoại</th>
            <th>Địa Chỉ</th>
            <th>Nhóm Khách</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.TenKhachHang</td>
                <td>@customer.SoDienThoai</td>
                <td>@customer.DiaChi</td>
                <td>@customer.MaLoaiKhachHangNavigation.TenLoaiKhachHang</td>
                <td>
                    <a class="btn btn-info" asp-action="EditCustomer" asp-route-id="@customer.MaKhachHang">Edit</a> |
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@customer.MaKhachHang" data-name="@customer.TenKhachHang">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Khách Hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa khách hàng: <strong id="customerName"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                $('#errorModal').modal('show');
            }

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var customerId = button.data('id');
                var customerName = button.data('name');

                var modal = $(this);
                modal.find('#customerName').text(customerName);

                var form = modal.find('#deleteForm');
                form.attr('action', '/Customer/DeleteCustomer/' + customerId);
            });
        });
    </script>
}

<!-- Modal -->
<div class="modal fade" id="AddTypeCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Nhóm Khách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Danh Sách Nhóm Khách</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option></option>
                    @foreach (var type in ViewBag.TypeCustomer as SelectList)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
            </div>
            <div class="modal-body">
                <form id="addTypeCustomerForm">
                    <div class="mb-3">
                        <label for="input2" class="form-label">Tên Nhóm:</label>
                        <input class="form-control TenLoaiKhachHang" id="TenLoaiKhachHang" />
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>



