﻿@model IEnumerable<DOANCOSO.Models.MayTinh>
@{
    ViewBag.Title = "Danh Sách Máy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
      <h1>Quản Lý Máy Tính</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Bàn</li>
          <li class="breadcrumb-item active">Quản Lý Máy Tính</li>
        </ol>
      </nav>
 </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Danh Sách Máy Tính</h5>
              <!-- Button trigger modal -->
                    <button type="button" id="add-computer-button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#ThemMayModal">
                         Thêm Máy
                     </button>
              <!-- Button Thêm Loại Máy modal -->
                    <button type="button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#AddTypeComputer">
                        Thêm Loại Máy
                    </button>
              <!-- Button Thêm Tình Trạng Máy modal -->
                    <button type="button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#AddStatusComputer">
                        Thêm Tình Trạng Máy
                    </button>
              <!-- Table with stripped rows -->
            <table id="example" class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">
                      <b>Tên Máy</b>
                    </th>
                    <th data-sortable="true" class="text-center">Loại Máy</th>
                    <th data-sortable="true" class="text-center">Giá Máy / Giờ</th>
                    <th data-sortable="true" class="text-center">Trạng Thái</th>
                    <th class="text-center">Chức Năng</th>
                    <th class="text-center">Đặt Máy</th>
                  </tr>
                </thead>
                <tbody>                                         
                            @foreach(var computers in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">@computers.TenMayTinh</a></p>
                                    </td>
                                    <td class="text-center text-danger">@computers.MaLoaiMayNavigation.TenLoaiMay</td>
                                    <td class="text-center">@computers.MaLoaiMayNavigation.GiaTheoLoaiMay vnđ</td>

                                    @if (computers.MaTinhTrangMayTinhNavigation.MaTinhTrangMayTinh == 1 )
                                    {
                                        <td class="text-center">
                                            <span class="badge bg-success"> @computers.MaTinhTrangMayTinhNavigation.TenTinhTrangMayTinh</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Active
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="dropdown-item EditModal" data-computer-id="@computers.MaMayTinh" data-bs-toggle="modal" data-bs-target="#editMayModal">
                                                        Chỉnh Sửa
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item delete-button" data-computer-id="@computers.MaMayTinh" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                        Xóa
                                                    </button>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <!-- Button trigger modal -->
                                            <button button type="button" data-computer-id="@computers.MaMayTinh" class="btn btn-info open-computer-button" id="opencomputerbutton" data-bs-toggle="modal"
                                                    data-bs-target="#customerModal">
                                                <i class="bi bi-cart"></i> Order Máy
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <span class="badge rounded-pill bg-danger">@computers.MaTinhTrangMayTinhNavigation.TenTinhTrangMayTinh</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Active
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>

                                                    <a class="dropdown-item EditModal" data-computer-id="@computers.MaMayTinh" data-bs-toggle="modal" data-bs-target="#editMayModal">
                                                        Chỉnh Sửa
                                                    </a>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item delete-button" data-computer-id="@computers.MaMayTinh" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                        Xóa
                                                    </button>
                                                </li>
                                            </ul>
                                           

                                        </td>
                                        <td class="text-center">    
                                            <button data-computer-id="@computers.MaMayTinh" data-bs-toggle="modal" class="btn btn-primary computer-payment-button" data-bs-target="#confirmPaymentModalComputer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                     class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z">
                                                    </path>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0">
                                                    </path>
                                                </svg>
                                                Thanh Toán
                                            </button>
                                            <!-- Button trigger modal -->
                                            <button type="button" data-computer-id="@computers.MaMayTinh" class="btn btn-primary add-service-computer" data-bs-toggle="modal" data-bs-target="#ThemDichVuModal">
                                                Thêm Dịch Vụ
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
            </table>

            <!-- PHẦN CHỨA CÁC MODAL -->
            <!-- Modal Thêm Dịch Vụ-->
            <div class="modal fade" id="ThemDichVuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        
                            <div class="modal-dialog  modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <div class="container d-flex">
                                        <div class="col-lg-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Danh Sách Dịch Vụ</h5>
                                                    <!-- General Form Elements -->
                                                    <form>
                                                        <div class="col-md-12">
                                                            <label for="inputName5" class="form-label">Loại Dịch Vụ :</label>
                                                            <div class="col-sm-10">
                                                                <select id="selectLoaiDichVu" class="form-select" aria-label="Default select example">
                                                                    <option selected disabled value="">Choose...</option>
                                                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.TypeService)
                                                                    {
                                                                        <option value="@item.Value">@item.Text</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-12">
                                                            <label for="inputName5" class="form-label"> Dịch Vụ :</label>
                                                            <div class="col-sm-10">
                                                                <select id="selectDichVu" class="form-select" aria-label="Default select example">
                                                                    <option selected disabled value="">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-sm-2 col-form-label">Giá :</label>
                                                            <div class="col-sm-10">
                                                                <input id="giaDichVu" type="text" class="form-control" value=" vnđ" disabled="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="inputName5" class="form-label">Số Lượng:</label>
                                                            <div class="col-sm-10">
                                                                <input type="number" id="soLuong" class="form-control" min="0">
                                                            </div>
                                                        </div>
                                                        <div class="d-grid gap-2 mt-3">
                                                            <input type="hidden" id="maMay" name="maMay" />
                                                            <input type="hidden" id="maOrderMay" name="maOrderMay" value="" />
                                                            <button type="button" id="addServiceButton" class="btn btn-primary">Thêm Dịch Vụ</button>
                                                        </div>
                                                    </form><!-- End General Form Elements -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Hóa Đơn Dịch Vụ</h5>
                                                    <!-- General Form Elements -->
                                                    <form>                                                      
                                                        <table class="table table-bordered " id="computerInvoiceTable">
                                                            <thead class="table-danger">
                                                                <tr>
                                                                    <th class="text-center" scope="col">STT</th>
                                                                    <th class="text-center" scope="col">Tên Loại Dịch Vụ</th>
                                                                    <th class="text-center" scope="col">Tên Dịch Vụ</th>
                                                                    <th class="text-center" scope="col">Đơn Giá / Món</th>
                                                                    <th class="text-center" scope="col">Số Lượng</th>
                                                                    <th class="text-center" scope="col">Thành Tiền</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>
                                                    </form><!-- End General Form Elements -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                       
                                    </div>
                                </div>
                            </div>                     
            </div>

            <!-- Modal Thêm Máy -->
            <div class="modal fade" id="ThemMayModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Máy Mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-light">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Tên Máy</label>
                            <div class="col-sm-10">
                                <input type="text" id="nameComputer" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Loại Máy</label>
                            <div class="col-sm-10">
                                <select id="ComputerType" class="form-select">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" id="confirmAddComputer" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
              </div>
            </div>
            <!-- Modal Xóa Máy -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Bạn có chắc muốn xóa máy này không ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body bg-light">
                    Nếu Xóa Đi Chắc Chắn Không Thể Khôi Phục Được!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="confirmDeleteButtonComputer" type="button" class="btn btn-danger delete-table-button">Xóa</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal  Sửa Máy-->
            <div class="modal fade" id="editMayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editBanForm">
                                        <div class="mb-2">
                                            <label for="lbledittenmay" class="form-label">Tên Máy</label>
                                            <input type="text" class="form-control" id="editTenMay">
                                        </div>
                            
                                        <div class="mb-2">
                                            <label for="lbleditloaidichvu" class="form-label">Loại Máy</label>
                                            <select class="form-select" id="editloaimay">
                                                <!-- Danh sách loại MÁY sẽ được thêm bằng JavaScript -->
                                            </select>
                                        </div>
                                        <input type="hidden" id="editmayId">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="Saveeditmaytinh">Lưu Thay Đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- Modal Thêm loại máy -->
            <div class="modal fade" id="AddTypeComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm Loại Máy</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <form id="addTypeComputerForm">
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Tên Loại Máy:</label>
                                            <input class="form-control TenLoaiMay" id="TenLoaiMay" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Giá Loại Máy / Giờ:</label>
                                            <input type="text" class="form-control GiaTheoLoaiMay" id="GiaTheoLoaiMay">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- Modal Thêm trạng thái máy -->
             <div class="modal fade" id="AddStatusComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm Tình Trạng Máy</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <form id="addStatusComputerForm">
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Tên Tình Trạng Máy:</label>
                                            <input class="form-control TenTinhTrang" id="TenTinhTrangMayTinh" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- Xử lý mở máy  -->
            <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="customerModalLabel">Chọn Khách Hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <select class="form-select" id="customerDropdownMayTinh" aria-label="Default select example">
                                @foreach(var type in ViewBag.TypeCustomer as SelectList)
                                    {
                                        <option value="@type.Value">@type.Text</option>
                                    }
                                </select>
                               
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" id="confirmCustomerButtonMayTinh">Xác Nhận</button>
                                </div>
                            </div>
                        </div>
            </div>
            <!-- Modal xác nhận thanh toán-->
            <div class="modal fade" id="confirmPaymentModalComputer" tabindex="-1" aria-labelledby="confirmPaymentModalLabelComputer" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmPaymentModalLabelComputer">Xác Nhận Thanh Toán</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn thanh toán cho bàn này không?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <a id="confirmPaymentButtonComputer" class="btn btn-primary">Xác Nhận Thanh Toán</a>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- KẾT THÚC PHẦN CHỨA CÁC MODAL -->

            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
      </div>
    </section>




