﻿.div-1 {
    background-color: #eee;
}

.div-2 {
    display: flex;
    margin: 0px 150px 0 150px;
}

.section-1 {
    background-color: #eeeeee;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 340px;
    margin-left: 0;
    margin-right: 10px;
    padding-right: 0;
    display: flex;
    height: 599px;
}

.section-2 {
    background-color: #eeeeee;
    width: 1390px;
    margin-left: 10px;
    margin-right: 0;
    padding-right: 0;
    height: 599px;
}

.div-block-1 {
    background-color: #fff;
    border-radius: 10px;
    height: 111px;
    margin: 20px 10px 16px;
    padding-bottom: 0;
    padding-right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}


.div-block-2 {
    border-radius: 10px;
    height: 97px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0;
    padding-right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.div-block-3 {
    background-color: #fff;
    border-radius: 10px;
    height: 111px;
    margin: 20px 10px 16px;
    padding-bottom: 0;
    padding-right: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}
.div-block-4 {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}
.div-block-5 {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.div-block-5 h2 {
        margin-top: 20px;
        font-size: 24px;
        line-height: 30px;
}
    .div-block-6 {
        justify-content: center;
        margin-top: 10px;
        display: flex;
    }
.div-block-7 {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

.table-scroll {
    
    overflow-y: auto;
    margin-top: 30px;
    max-height: 450px; /* Thiết lập chiều cao tối đa cho phần nội dung cuộn */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #DCF4FC;
    text-align: center;
}

    thead th:first-child {
        left: 0;
        z-index: 2;
    }

tbody th {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    text-align:center;
}
tbody tr {
    background-color: white;
   
}
tbody tr:hover {
    background-color: #ebf5ea;
}


.modal-content {
    border-radius: 20px;
}

#addTypeTableForm {
    display: flex;
    flex-direction: column;
}
.table-wrapper {
    font-size: 13px;
}

