﻿@model IEnumerable<DOANCOSO.Models.DichVu>
@{
    ViewBag.Title = "Danh sách Dịch Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Quản Lý Dịch Vụ</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Dịch Vụ</li>
            <li class="breadcrumb-item active">Quản Lý Dịch Vụ</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" style="background-color:#e1e1e196; border-radius: 20px">
                            <form id="themDichVuForm">
                                <div class="mb-2">
                                    <label for="validationCustom04" class="form-label">Loại Dịch Vụ :</label>
                                    <select class="form-select" id="loaiDichVuSelect" required>
                                        <option selected disabled value="">Choose...</option>
                                        @foreach (var loaiDichVu in ViewBag.LoaiDichVuSelectList)
                                        {
                                            <option value="@loaiDichVu.Value">@loaiDichVu.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="tenDichVu" class="form-label">Tên Dịch Vụ :</label>
                                    <input type="text" class="form-control" id="tenDichVu" value="" required>
                                </div>
                                <div class="mb-2">
                                    <label for="giaDichVu" class="form-label">Giá Dịch Vụ :</label>
                                    <input type="text" class="form-control" id="giaDichVu" required>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" style="background-color: #04B440;color: white;font-size: 13px;" class="btn btn-primary" id="add-dichvu-button" data-bs-toggle="modal" data-bs-target="#adddichvu">
                                    Thêm Dịch Vụ
                                </button>
                               
                            </form>
                            <!-- Modal Add DichVu-->
                            <div class="modal fade" id="adddichvu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc muốn thêm dịch vụ mới 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="confirmadddichvu">Thêm Mới</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="border">
                                <div class="mb-2">
                                    <label for="validationCustom01" class="form-label">Danh Sách Loại Dịch Vụ</label>
                                    <div class="mb-2">
                                        <select class="form-select" id="validationCustom04" required>
                                            <option selected disabled value="">Choose...</option>
                                            @foreach (var loaiDichVu in ViewBag.LoaiDichVuSelectList)
                                            {
                                                <option value="@loaiDichVu.Value">@loaiDichVu.Text</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <button class="btn" style="background-color: #04B440;color: white;font-size: 13px;" data-bs-toggle="modal" data-bs-target="#ThemLoaiDichVuleModal" type="submit">Thêm Loại Dịch Vụ</button>
                                <button class="btn" style="background-color: #04B440;color: white;font-size: 13px;" data-bs-toggle="modal" data-bs-target="#SuaLoaiDichVuleModal" type="submit">Sửa</button>
                                <button class="btn" style="background-color: #04B440;color: white;font-size: 13px;" data-bs-toggle="modal" data-bs-target="#XoaLoaiDichVuleModal" type="submit">Xóa</button>

                            </form>
                        </div>
                        <div class="col-9">
                            Danh Sách Dịch Vụ
                            <table id="example" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Loại Dịch Vụ</th>
                                        <th class="text-center" scope="col">Tên Dịch Vụ</th>
                                        <th class="text-center" scope="col">Đơn Giá / Món</th>
                                        <th class="text-center" scope="col">Chức Năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dichvus in ViewBag.dichvu)
                                    {
                                        <tr>
                                            <td class="text-center">@dichvus.MaLoaiDichVuNavigation.TenLoaiDv</td>
                                            <td class="text-center">@dichvus.TenDichVu</td>
                                            <td class="text-center">@dichvus.GiaDichVu vnđ</td>
                                            
                                            <td class="text-center">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Active
                                                </button>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                         <button class="dropdown-item EditModal" data-dichvu-id="@dichvus.MaDichVu" data-bs-toggle="modal" data-bs-target="#SuaDichVuModal">
                                                            Chỉnh Sửa
                                                        </button> 
                                                      
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item delete-button" data-dichvu-id="@dichvus.MaDichVu" data-bs-toggle="modal" data-bs-target="#XoaDichVuModal">
                                                            Xóa
                                                        </button>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Phần Chứa Các Modal -->
<!-- Modal Sửa  Dịch Vụ -->
<div class="modal fade" id="SuaDichVuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh Sửa Bàn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form id="editBanForm">
                    <div class="mb-2">
                        <label for="lbedittendichvy" class="form-label">Tên Dịch Vụ</label>
                        <input type="text" class="form-control" id="editTenDichVu">
                    </div>
                    <div class="mb-2">
                        <label for="lbeditgiadichvu" class="form-label">Giá Dịch Vụ</label>
                        <input type="text" class="form-control" id="editGiaDichVu">
                    </div>
                    <div class="mb-2">
                        <label for="editlblloaidichvu" class="form-label">Loại Dịch Vụ</label>
                        <select class="form-select" id="editLoaiDichVu">
                            <!-- Danh sách loại bàn sẽ được thêm bằng JavaScript -->
                        </select>
                    </div>
                    <input type="hidden" id="editDichVuId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveEditDichVuButton">Lưu Thay Đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xóa  Dịch Vụ -->
<div class="modal fade" id="XoaDichVuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa Dịch Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn Có Chắc Muốn Xóa Dịch Vụ Có:
                <label for="lbedittendichvy" class="form-label" id="deleteTenDichVu"></label>
                <input type="hidden" id="deleteMaDichVuId">
                <input type="hidden" id="deleteGiaDichVuId">
                <input type="hidden" id="deleteMaLoaiDichVu">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="btnDeleteDichVu" type="button" class="btn btn-danger btn-xoadichvu">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thêm Loại Dịch Vụ -->
<div class="modal fade" id="ThemLoaiDichVuleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Loại Dịch Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form id="themloaidichvuForm">
                    <div class="mb-3">
                        <label for="input2" class="form-label">Tên Loại Dịch Vụ:</label>
                        <input class="form-control" id="TenLoaiDV" />
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Sửa Loại Dịch Vụ -->
<div class="modal fade" id="SuaLoaiDichVuleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa Loại Dịch Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <label for="selectLoaiDichVu" class="form-label"> Chọn Loại Dịch Vụ Muốn Sửa :</label>
                    <select class="form-select" id="selectLoaiDichVu" required>
                        <option selected disabled value="">Choose...</option>
                        @foreach (var loaiDichVu in ViewBag.loaiDichVuList)
                        {
                            <option>@loaiDichVu.TenLoaiDv</option>
                        }
                    </select>
                </div>

                <div class="mb-2">
                    <label for="newTenLoaiDv" class="form-label">Tên Loại Dịch Vụ Mới :</label>
                    <input type="text" class="form-control" id="newTenLoaiDv" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnSaveSuaLoaiDichVu">Lưu</button>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Xóa Loại Dịch Vụ -->
<div class="modal fade" id="XoaLoaiDichVuleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa Loại Dịch Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên Loại Dịch Vụ</th>
                            <th scope="col">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loaiDichVu in ViewBag.LoaiDichVuList)
                        {
                            <tr>
                                <td>@loaiDichVu.TenLoaiDv</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm deleteldv-button" data-maloaidv="@loaiDichVu.MaLoaiDichVu">Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Kết Thúc Phần Chứa Các Modal --> 

