﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string sessionvalue = HttpContextAccessor.HttpContext.Session.GetString("username") as string;
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        alert("@successMessage");
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DOANCOSO</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!--Link Boostrap v5.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
</head>
<body style="display:flex; flex-direction: column;">z

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">BILLIARDS-VIP</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">
                    @if (sessionvalue != null)
                    {
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="~/images/Ảnh Đại Diện.jpg" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">@sessionvalue</span>
                        </a>

                        <!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@sessionvalue!</h6>
                                <span>Chủ Cửa Hàng</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile", "Auth")">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile", "Auth")">
                                    <i class="bi bi-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "Auth")">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul>

                        <!-- End Profile Dropdown Items -->
                    }
                    else
                    {
                        <a class="nav-link collapsed" asp-controller="Auth" asp-action="Login">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span>Đăng Nhập</span>
                        </a>
                    }

                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Tổng Quan</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cash-stack"></i><span>Bàn Billiards</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="ManementTable" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Bàn Billiards</span>
                        </a>
                        <a asp-controller="QuanLyDatBan" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Đặt Bàn Billiards</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#dichvu-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bag-heart"></i><span>Dịch Vụ</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="dichvu-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="DichVu" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Dịch Vụ</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#computer-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-pc-display-horizontal"></i><span>Máy Tính</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="computer-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="ManagementComputer" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Máy Tính</span>
                        </a>
                        <a asp-controller="QuanLyDatMay" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Đặt Máy Tính</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- End Computers Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#custorm-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-square"></i><span>Khách Hàng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="custorm-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="Customer" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Quản Lý Khách Hàng</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Khách Hàng Nav -->

            <li class="nav-heading">Pages</li>
            @if (sessionvalue != null)
            {
            
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("Logout", "Auth")">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Đăng Xuất</span>
                    </a>
                </li>

                <!-- End Login Page Nav -->
            }else
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Auth" asp-action="Login">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Đăng Nhập</span>
                    </a>
                </li>
            }
           
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
       @RenderBody()
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!--Link TableDatabase-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.bootstrap5.js"></script>
  
    
    <script>
        new DataTable('#example');
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>


     <!-- Template Main JS File -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
