﻿@model DOANCOSO.Models.QuanLy;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "Login Page";
    var errorMessage = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert("@errorMessage");
    </script>
}
 <section class="vh-100" >
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100" style="box-shadow: 5px 10px #888888; border-radius: 20px;background-color: #efeded;">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/images/644895ad-a62c-4d1f-a667-1460dffcecb6.3e96f38bc4f077de565cda12db0dd45f.webp"
                     class="img-fluid" alt="Sample image"style="border-radius: 20px">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" style="display: flex;
    flex-direction: column;
    align-items: center">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    </div>
                    <a href="#!">
                        <img src="~/images/1328595104.svg" alt="BootstrapBrain Logo" width="175" height="57">
                    </a>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Chào Mừng Bạn Trở Lại</p>
                    </div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Tên tài khoản</label>
                        <input type="user" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Vui lòng nhập tài khoản" name="Tk" />
                        
                    </div>       
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Mật khẩu</label>
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Vui lòng nhập mật khẩu" name="Mk" />                      
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>  

<style>
    .form-container { /* Target the form container div */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Inherit other styles from Bootstrap classes as needed */
    }

    .btn-primary { /* Target the button */
        margin: 0 auto;
    }
</style>



