﻿ @{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="pagetitle">
    <h1>Kết Quả Doanh Thu Hôm Nay</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-9">
            <div class="row">
                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Số Đơn Bàn Đã Xong</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cash-stack"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="completedOrdersCount"> </h6>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                function updateCompletedOrdersCount() {
                                    $.ajax({
                                        url: '/HoaDon/CompletedOrdersCount', // Đường dẫn đến hàm action trong controller
                                        method: 'GET',
                                        success: function (data) {
                                            $('#completedOrdersCount').text(data); // Cập nhật số đơn hàng đã hoàn thành trên trang
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('Error updating completed orders count:', textStatus, errorThrown);
                                        }
                                    });
                                }
                                // Gọi hàm updateCompletedOrdersCount khi trang được tải
                                updateCompletedOrdersCount();
                            });
                        </script>
                    </div>
                </div><!-- End Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Số Đơn Máy Đã Xong</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-laptop"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="completedOrdersCountComputer"> </h6>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                function completedOrdersCountComputer() {
                                    $.ajax({
                                        url: '/HoaDon/CompletedOrdersCountComputer', // Đường dẫn đến hàm action trong controller
                                        method: 'GET',
                                        success: function (data) {
                                            console.log('Số Đơn Đang đã hoàn thành :', data);
                                            $('#completedOrdersCountComputer').text(data); // Cập nhật số đơn hàng đã hoàn thành trên trang
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error('Error updating completed orders count:', textStatus, errorThrown);
                                        }
                                    });
                                }
                                // Gọi hàm updateCompletedOrdersCount khi trang được tải
                                completedOrdersCountComputer();
                            });
                        </script>
                    </div>
                </div>
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Đơn Bàn Đang Phục Vụ</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-split"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="servingOrdersCount"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        // Hàm AJAX để gọi action ServingOrdersCount trong controller
                        function loadServingOrdersCount() {
                            $.ajax({
                                url: '/HoaDon/ServingOrdersCount',
                                method: 'GET',
                                success: function (data) {
                                    $('#servingOrdersCount').text(data);
                                    console.log('Số Đơn Đang Phục Vụ :', data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('Error loading serving orders count:', textStatus, errorThrown);
                                }
                            });
                        }
                        loadServingOrdersCount();
                    });
                </script>
                <!-- End Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Đơn Máy Đang Phục Vụ</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-split"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="servingOrdersCountComputer"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        // Hàm AJAX để gọi action ServingOrdersCount trong controller
                        function loadServingOrdersCount() {
                            $.ajax({
                                url: '/HoaDon/ServingOrdersCountComputer',
                                method: 'GET',
                                success: function (data) {
                                    $('#servingOrdersCountComputer').text(data);
                                    console.log('Số Đơn máy Đang Phục Vụ :', data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('Error loading serving orders count:', textStatus, errorThrown);
                                }
                            });
                        }
                        loadServingOrdersCount();
                    });
                </script>
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Khách Hàng</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="customerCount">0</h6>
                                    

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End Customers Card -->
                <script>
                    $(document).ready(function () {
                        function loadCustomerCount() {
                            $.ajax({
                                url: '/HoaDon/CustomerCount',
                                method: 'GET',
                                success: function (data) {
                                    $('#customerCount').text(data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('Error fetching customer count:', textStatus, errorThrown);
                                    $('#customerCount').text('Không thể tải');
                                }
                            });
                        }

                        // Load customer count on page load
                        loadCustomerCount();
                    });
                    </script>
                <!--Biểu Đồ Gộp-->
                <div class="container mt-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-0">Doanh Số Bàn Billirards & Máy Tính Hôm Nay<span id="today-sales" class="text-primary ms-2"></span></h5>
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li><a class="dropdown-item filter-option" data-filter="today" href="#">Hôm Nay</a></li>
                                        <li><a class="dropdown-item filter-option" data-filter="yesterday" href="#">Hôm Qua</a></li>
                                        <li><a class="dropdown-item filter-option" data-filter="last7days" href="#">7 Ngày Qua</a></li>
                                        <li><a class="dropdown-item filter-option" data-filter="thismonth" href="#">Tháng Này</a></li>
                                        <li><a class="dropdown-item filter-option" data-filter="lastmonth" href="#">Tháng Trước</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body" style="min-height: 400px;">
                                <div>
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        function loadTodaySales() {
                            $.ajax({
                                url: '/HoaDon/CombinedSales?period=today',
                                method: 'GET',
                                success: function (data) {
                                    console.log('Today sales data:', data); // In ra dữ liệu nhận được

                                    // Kiểm tra xem dữ liệu có được trả về không
                                    if (data.length > 0) {
                                        // Lấy doanh số bàn và doanh số máy tính từ dữ liệu
                                        var totalSalesBan = data[0].totalSalesBan || 0;
                                        var totalSalesMay = data[0].totalSalesMay || 0;

                                        // Tính tổng doanh số
                                        var totalSales = totalSalesBan + totalSalesMay;

                                        // Định dạng tổng doanh số theo định dạng tiền tệ Việt Nam
                                        var formattedTotalSales = totalSales.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

                                        // Đặt giá trị vào phần tử HTML
                                        $('#today-sales').text(formattedTotalSales);
                                    } else {
                                        // Trường hợp không có dữ liệu trả về từ API
                                        $('#today-sales').text('Không có dữ liệu');
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('Error fetching today sales:', textStatus, errorThrown);
                                    // Xử lý lỗi tại đây nếu cần
                                    $('#today-sales').text('Không có dữ liệu');
                                }
                            });
                        }


                        function loadSalesData(period) {
                            $.ajax({
                                url: `/HoaDon/CombinedSales?period=${period}`,
                                method: 'GET',
                                success: function (data) {
                                    console.log('Sales data:', data); // In ra dữ liệu nhận được

                                    // Xử lý dữ liệu ngày tháng không hợp lệ và chuyển đổi dữ liệu
                                    var labels = [];
                                    var totalSalesBan = [];
                                    var totalSalesMay = [];

                                    data.forEach(item => {
                                        var date = new Date(item.date);
                                        if (!isNaN(date.getTime())) {
                                            labels.push(date.toISOString().split('T')[0]);
                                            totalSalesBan.push(item.totalSalesBan);
                                            totalSalesMay.push(item.totalSalesMay);
                                        }
                                    });

                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: labels,
                                            datasets: [
                                                {
                                                    label: 'Tổng doanh thu bàn',
                                                    data: totalSalesBan,
                                                    borderWidth: 1,
                                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                                    borderColor: 'rgba(75, 192, 192, 1)',
                                                },
                                                {
                                                    label: 'Tổng doanh thu máy tính',
                                                    data: totalSalesMay,
                                                    borderWidth: 1,
                                                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                                                    borderColor: 'rgba(153, 102, 255, 1)',
                                                }
                                            ]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.error('Error fetching sales data:', textStatus, errorThrown);
                                }
                            });
                        }


                        $('.filter-option').click(function (e) {
                            e.preventDefault();
                            var filter = $(this).data('filter');
                            loadSalesData(filter);
                        });

                        // Load today's sales on page load
                        loadTodaySales();
                        loadSalesData('last7days');
                    });

                </script>

            </div>
        </div>

 

    </div>
</section>

