﻿@model DOANCOSO.Models.HoaDonBan
@{
    ViewBag.Title = "HÓA ĐƠN BÀN";
}

<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #4a90e2; font-size: 20px;">Mã Hóa Đơn >> <strong>@Model.MaOrderBan</strong></p>
                </div>
                <div class="col-xl-3 text-end">
                    <a class="btn btn-primary text-capitalize border-0" style="background-color: #4a90e2;" onclick="printBill()">
                        <i class="fas fa-print text-white"></i> Print
                    </a>
                    <a class="btn btn-danger text-capitalize">
                        <i class="far fa-file-pdf text-white"></i> Export
                    </a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="pt-0 fw-bold" style="color: #4a90e2;">HÓA ĐƠN BÀN BILLAIRDS</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted fw-bold">Tên Khách Hàng: <span style="color:#d9534f;">@Model.MaKhachHangNavigation.TenKhachHang</span></li>
                            <li class="text-muted fw-bold">Tên Bàn: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.MaBanNavigation.TenBan</span></li>
                            <li class="text-muted fw-bold">Loại Bàn: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.MaBanNavigation.MaLoaiBanNavigation.TenLoaiBan</span></li>
                            <li class="text-muted fw-bold">Giá Loại Bàn: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.MaBanNavigation.MaLoaiBanNavigation.GiaTheoLoaiBan vnđ / Giờ</span></li>
                            <li class="text-muted fw-bold">Giờ Bắt Đầu: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.ThoiGianBatDau</span></li>
                            <li class="text-muted fw-bold">Giờ Kết Thúc: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.ThoiGianKetThuc</span></li>
                            <li class="text-muted fw-bold">Tổng Số Giờ: <span style="color:#d9534f;">@Model.MaOrderBanNavigation.SoGio tiếng</span></li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Biên Lai</p>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #4a90e2;"></i> <span class="fw-bold">Mã Hóa Đơn:</span> @Model.MaHoaDonBan
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #4a90e2;"></i> <span class="fw-bold">Ngày Thanh Toán:</span> @Model.NgayThanhToanBan
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #4a90e2;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-success text-white fw-bold">Thanh Toán</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#4a90e2;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên Dịch Vụ</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Đơn Giá</th>
                                <th scope="col">Thành Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                decimal totalServiceCost = 0;
                                foreach (var service in Model.MaOrderBanNavigation.SuDungDichVuBans)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@service.MaDichVuNavigation.TenDichVu</td>
                                        <td>@service.SoLuong</td>
                                        <td>@service.MaDichVuNavigation.GiaDichVu vnđ</td>
                                        <td>@service.ThanhTien vnđ</td>
                                    </tr>
                                    count++;
                                    totalServiceCost += service.ThanhTien ?? 0;
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <label for="inputState" class="form-label fw-bold">Phương Thức Thanh Toán: </label>
                        <select id="inputState" class="form-select" style="width: 35%; color: #d9534f;">
                            <option selected>Tiền Mặt</option>
                            <option>Chuyển Khoản Ngân Hàng</option>
                            <option>Momo</option>
                            <option>Zalo Pay</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <ul class="list-unstyled">
                            <li class="text-muted"><span class="text-black me-4 fw-bold">TIỀN BÀN</span> <span class="float-end">@Model.MaOrderBanNavigation.TienBan?.ToString("N0") vnđ</span></li>
                            <li class="text-muted mt-2"><span class="text-black me-4 fw-bold">TIỀN DỊCH VỤ</span> <span class="float-end">@totalServiceCost.ToString("N0") vnđ</span></li>
                        </ul>
                        <p class="text-black float-end fw-bold">
                            <span class="text-black me-3">TỔNG TIỀN</span><span style="font-size: 25px;">@((Model.MaOrderBanNavigation.TienBan ?? 0) + totalServiceCost) vnđ</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p class="fw-bold" style="color: #4a90e2;">Cảm Ơn Vì Đã Sử Dụng Dịch Vụ Của Chúng Tôi</p>
                    </div>
                    <div class="col-xl-2">
                        <a type="button" asp-controller="ManementTable" asp-action="Index" class="btn btn-primary text-capitalize" style="background-color: #5bc0de;">
                            Trở Lại Quản Lý Bàn
                        </a>
                        <a type="button" asp-controller="ManementTable" asp-action="Index" class="btn btn-success text-capitalize">
                            Hoàn Tất
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
        background-color: #4a90e2;
        border-color: #4a90e2;
    }

    .btn-danger {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .btn-success {
        background-color: #5cb85c;
        border-color: #5cb85c;
    }
</style>
