﻿@model DOANCOSO.Models.HoaDonMay
@{
    ViewBag.Title = "HÓA ĐƠN MÁY";
}

<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">Mã Hóa Đơn >> <strong>@Model.MaOrderMay</strong></p>
                </div>
                <div class="col-xl-3 float-end">
                    <a data-mdb-ripple-init class="btn btn-primary text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> Print
                    </a>
                    <a data-mdb-ripple-init class="btn btn-primary text-capitalize " data-mdb-ripple-color="dark">
                        <i class="far fa-file-pdf text-danger"></i> Export
                    </a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">

                        <p class="pt-0 fw-bold">HÓA ĐƠN MÁY</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted fw-bold">Tên Khách Hàng: <span style="color:#a4293a ;">@Model.MaKhachHangNavigation.TenKhachHang</span></li>
                            <li class="text-muted fw-bold">Tên Máy: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.MaMayTinhNavigation.TenMayTinh</span></li>
                            <li class="text-muted fw-bold">Loại Bàn: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.MaMayTinhNavigation.MaLoaiMayNavigation.TenLoaiMay</span></li>
                            <li class="text-muted fw-bold">Giá Loại Bàn: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.MaMayTinhNavigation.MaLoaiMayNavigation.GiaTheoLoaiMay vnđ / Giờ</span></li>
                            <li class="text-muted fw-bold">Giờ Bắt Đầu: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.ThoiGianBatDau</span></li>
                            <li class="text-muted fw-bold">Giờ Kết Thúc: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.ThoiGianKetThuc</span></li>
                            <li class="text-muted fw-bold">Tổng Số Giờ: <span style="color:#a4293a ;">@Model.MaOrderMayNavigation.SoGio tiếng</span></li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Biên Lai</p>
                        <ul class="list-unstyled">
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #84B0CA;"></i> <span class="fw-bold">Mã Hóa Đơn:</span>@Model.MaHoaDonMay
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #84B0CA;"></i> <span class="fw-bold">Ngày Thanh Toán </span>@Model.NgayThanhToanBan
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-circle-fill" style="color: #84B0CA;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                    Thanh Toán
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr class="table-dark">
                                <th scope="col">#</th>
                                <th scope="col">Tên Dịch Vụ</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Đơn Giá</th>
                                <th scope="col">Thành Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                decimal totalServiceCost = 0;
                                foreach (var service in Model.MaOrderMayNavigation.SuDungDichVuMays)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@service.MaDichVuNavigation.TenDichVu</td>
                                        <td>@service.SoLuong</td>
                                        <td>@service.MaDichVuNavigation.GiaDichVu vnđ</td>
                                        <td>@service.ThanhTien vnđ</td>
                                    </tr>
                                    count++;
                                    totalServiceCost += service.ThanhTien ?? 0;
                                }
                            }
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <label for="inputState" class="form-label">Phương Thức Thanh Toán : </label>
                        <select id="inputState" class="form-select text-danger" style="width: 35%;">
                            <option selected> Tiền Mặt</option>
                            <option>Chuyển Khoản Ngân Hàng</option>
                            <option>Momo</option>
                            <option>Zalo Pay</option>
                        </select>

                    </div>
                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">TIỀN BÀN</span>@Model.MaOrderMayNavigation.TienMay?.ToString("N0") vnd</li>
                            <li class="text-muted ms-3 mt-2"><span class="text-black me-4">TIỀN DỊCH VỤ</span>@totalServiceCost vnđ</li>
                        </ul>
                        <p class="text-black float-start">
                            <span class="text-black me-3">TỔNG TIỀN</span><span style="font-size: 25px;">@((Model.MaOrderMayNavigation.TienMay ?? 0) + totalServiceCost )</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Cảm Ơn Vì Đã Sử Dụng Dịch Vụ Của Chúng Tôi</p>
                    </div>
                    <div class="col-xl-2">
                        <a type="button" asp-controller="ManagementComputer" asp-action="Index" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary text-capitalize"
                                style="background-color:#60bdf3 ;">
                            Trở Lại Quản Lý Máy
                        </a>
                        <a type="button" asp-controller="ManagementComputer" asp-action="Index" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary text-capitalize"
                                style="background-color:#60bdf3 ;">
                            Hoàn Tất
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
