﻿@model IEnumerable<DOANCOSO.Models.BanBilliard>
@{
    ViewBag.Title = "Danh Sách Bàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
      <h1>Quản Lý Bàn</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Bàn</li>
          <li class="breadcrumb-item active">Quản Lý Bàn</li>
        </ol>
      </nav>
 </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">     
              <h5 class="card-title">Danh Sách Bàn</h5>
              <!-- Button trigger modal -->
              <button type="button" id="add-table-button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#ThemBanModal">
                Thêm Bàn
              </button>
                    <!-- Modal Thêm Bàn -->
                    <div class="modal fade" id="ThemBanModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Bàn Mới</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <div class="row mb-3">
                                        <label for="inputText" class="col-sm-2 col-form-label">Tên Bàn</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="nameTable" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Loại Bàn</label>
                                        <div class="col-sm-10">
                                            <select id="tableType" class="form-select">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" id="confirmAddTable" class="btn btn-primary">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
              <!-- Button Thêm Loại Bàn modal -->
               <button type="button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#AddTypeTable">
                        Thêm Loại Bàn
               </button>
           
              <!-- Button Thêm Tình Trạng Bàn modal -->
                    <button type="button" class="btn btn-primary" style="background-color: #04B440; color: white; font-size: 13px;" data-bs-toggle="modal" data-bs-target="#AddStatusTable">
                        Thêm Tình Trạng Bàn
                    </button>
              <!-- Table with stripped rows -->
                <table id="example" class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">
                      <b>Tên Bàn</b>
                    </th>
                    <th data-sortable="true" class="text-center">Loại Bàn</th>
                    <th data-sortable="true" class="text-center">Giá Bàn / Giờ</th>
                    <th data-sortable="true" class="text-center">Trạng Thái</th>
                    <th class="text-center">Chức Năng</th>
                    <th class="text-center">Order Bàn</th>
                  </tr>
                </thead>
                <tbody>
                    @foreach (var billiards in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">@billiards.TenBan</a></p>
                                    </td>
                                    <td class="text-center text-danger">@billiards.MaLoaiBanNavigation.TenLoaiBan</td>
                                    <td class="text-center">@billiards.MaLoaiBanNavigation.GiaTheoLoaiBan vnđ</td>
                                    @if( billiards.MaTinhTrangBanNavigation.MaTinhTrangBan == 1)
                                    {
                                        <td class="text-center">
                                            <span class="badge bg-success"> @billiards.MaTinhTrangBanNavigation.TenTinhTrangBan</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Active
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <button class="dropdown-item EditModal" data-table-id="@billiards.MaBan" data-bs-toggle="modal" data-bs-target="#editBanModal">
                                                        Chỉnh Sửa
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item delete-button" data-table-id="@billiards.MaBan" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                        Xóa
                                                    </button>
                                                </li>
                                            </ul> 
                                        </td>
                                        <td class="text-center">
                                            <!-- Button trigger modal -->
                                            <button button type="button" data-table-id="@billiards.MaBan" class="btn btn-info open-table-button" data-bs-toggle="modal"
                                                    data-bs-target="#customerModal">
                                                <i class="bi bi-cart"></i> Order Bàn
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <span class="badge rounded-pill bg-danger">@billiards.MaTinhTrangBanNavigation.TenTinhTrangBan</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary +dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Active
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item EditModal" data-table-id="@billiards.MaBan" data-bs-toggle="modal" data-bs-target="#editBanModal">
                                                        Chỉnh Sửa
                                                    </a>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item delete-button" data-table-id="@billiards.MaBan" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                        Xóa
                                                    </button>
                                                </li>
                                            </ul>     
                                        </td>
                                        <td class=" text-center">
                                            <button data-table-id="@billiards.MaBan" data-bs-toggle="modal" class="btn btn-primary payment-button" data-bs-target="#confirmPaymentModal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                     class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z">
                                                    </path>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0">
                                                    </path>
                                                </svg>
                                                Thanh Toán
                                            </button>
                                            <!-- Button trigger modal -->
                                            <button type="button" data-table-id="@billiards.MaBan" class="btn btn-primary add-service" data-bs-toggle="modal" data-bs-target="#ThemDichVuModal">
                                                Thêm Dịch Vụ
                                            </button>
                                        </td>
                                    }
                                </tr>
                    }
            </tbody>
            </table>

            <!-- PHẦN CHỨA CÁC MODAL -->
            <!-- Modal Thêm Dịch Vụ-->
            <div class="modal fade" id="ThemDichVuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">        
                    <div class="modal-dialog  modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thêm Dịch Vụ Sử Dụng</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="container d-flex">
                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Danh Sách Dịch Vụ</h5>
                                            <!-- General Form Elements -->
                                            <form>
                                                <div class="col-md-12">
                                                    <label for="inputName5" class="form-label">Loại Dịch Vụ :</label>
                                                    <div class="col-sm-10">
                                                        <select id="selectLoaiDichVu" class="form-select" aria-label="Default select example">
                                                                    <option selected disabled value="">Choose...</option>
                                                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.TypeService)
                                                                    {
                                                                        <option value="@item.Value">@item.Text</option>
                                                                    }
                                                        </select>
                                                    </div>
                                                </div>
                                                        
                                                <div class="col-md-12">
                                                    <label for="inputName5" class="form-label"> Dịch Vụ :</label>
                                                    <div class="col-sm-10">
                                                        <select id="selectDichVu" class="form-select" aria-label="Default select example">
                                                           <option selected disabled value="">Choose...</option>
                                                         </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="col-sm-2 col-form-label">Giá :</label>
                                                    <div class="col-sm-10">
                                                        <input id="giaDichVu" type="text" class="form-control" value=" vnđ" disabled="">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="inputName5" class="form-label">Số Lượng:</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" id="soLuong" class="form-control" min="0">
                                                    </div>
                                                </div>
                                                <div class="d-grid gap-2 mt-3">
                                                    <input type="hidden" id="maBan" name="maBan" />
                                                     <input type="hidden" id="maOrderBan" name="maOrderBan" value=""/>
                                                     <button type="button" id="addServiceButton" class="btn btn-primary">Thêm Dịch Vụ</button>
                                                </div>                                                      
                                            </form><!-- End General Form Elements -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Hóa Đơn Dịch Vụ</h5>
                                            <!-- General Form Elements -->
                                            <form>                                              
                                               <table class="table table-bordered " id="invoiceTable">
                                                  <thead class="table-danger">
                                                                <tr>
                                                                    <th class="text-center" scope="col">STT</th>
                                                                    <th class="text-center" scope="col">Tên Loại Dịch Vụ</th>
                                                                    <th class="text-center" scope="col">Tên Dịch Vụ</th>
                                                                    <th class="text-center" scope="col">Đơn Giá / Món</th>
                                                                    <th class="text-center" scope="col">Số Lượng</th>
                                                                    <th class="text-center" scope="col">Thành Tiền</th>
                                                                </tr>
                                                            </thead>
                                                  <tbody>
                                                                
                                                  </tbody>
                                                  <tfoot>
                                                  </tfoot>
                                               </table>
                                            </form><!-- End General Form Elements -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                
                            </div>
                        </div>
                    </div>                     
            </div>
            <!-- Modal Xóa  -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Bạn có chắc muốn xóa không ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body bg-light">
                    Nếu Xóa Đi Chắc Chắn Không Thể Khôi Phục Được!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="confirmDeleteButton" type="button" class="btn btn-danger delete-table-button">Xóa</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal  Sửa-->
            <div class="modal fade" id="editBanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh Sửa Bàn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <form id="editBanForm">
                                        <div class="mb-3">
                                            <label for="editTenBan" class="form-label">Tên Bàn</label>
                                            <input type="text" class="form-control" id="editTenBan">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editLoaiBan" class="form-label">Loại Bàn</label>
                                            <select class="form-select" id="editLoaiBan">
                                                <!-- Danh sách loại bàn sẽ được thêm bằng JavaScript -->
                                            </select>
                                        </div>
                                        <input type="hidden" id="editBanId">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" id="saveEditBanButton">Lưu Thay Đổi</button>
                                </div>
                            </div>
                        </div>
            </div>

            <!-- Modal Thêm loại bàn -->
            <div class="modal fade" id="AddTypeTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm Loại Bàn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <form id="addTypeTableForm">
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Tên Loại:</label>
                                            <input class="form-control TenLoaiBan" id="TenLoaiBan" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Giá Loại Bàn / Giờ:</label>
                                            <input type="text" class="form-control GiaTheoLoaiBan" id="GiaTheoLoaiBan">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- Modal Thêm tình trạng bàn-->
             <div class="modal fade" id="AddStatusTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm Tình Trạng Bàn</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body bg-light">
                                    <form id="addStatusTableForm">
                                        <div class="mb-3">
                                            <label for="input2" class="form-label">Tên Tình Trạng:</label>
                                            <input class="form-control TenTinhTrang" id="TenTinhTrang" />
                                            <span class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
             </div>

            <!--    Xử lý mở bàn     -->
            <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="customerModalLabel">Chọn Khách Hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <select class="form-select" id="customerDropdown" aria-label="Default select example">
                                    @foreach (var type in ViewBag.TypeCustomer as SelectList)
                                    {
                                        <option value="@type.Value">@type.Text</option>
                                    }
                                </select>
                               
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" id="confirmCustomerButton">Xác Nhận</button>
                                </div>
                            </div>
                        </div>
            </div>

            <!-- Modal xác nhận thanh toán-->
            <div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPaymentModalLabel">Xác Nhận Thanh Toán</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn muốn thanh toán cho bàn này không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <a id="confirmPaymentButton" class="btn btn-primary" >Xác Nhận Thanh Toán</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- KẾT THÚC PHẦN CHỨA CÁC MODAL -->

            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
      </div>
    </section>

@section Scripts {
    <script>
     
    </script>
}

